<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../assets/css/dicas.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/footer.css">

    <script src="../assets/js/include.js" defer></script>
</head>
<body>
    <div data-include="../components/header.html"></div>

    <main class="main-content">
        <h1>Dicas de Prevenção</h1>

        <div class="videos-conteiner">
            <div class="videos-box">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/O0RvI0jnGEc?si=nyiW99tnxljDdXRO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="videos-box">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/PcIUq256Lts?si=yNvesV25kkiHjCEH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="videos-box">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/iq_6epPhVMw?si=QB4VSHK65-Z3JdeV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>

        <div class="conteudo-conteiner">
            <div class="conteudo-box">
                <h3>ENTENDA OS TIPOS DE VIOLÊNCIA</h3>
                <ul>
                    <li><strong>Violência física:</strong> Ofende a integridade corporal, deixa marcas no corpo.</li>
                    <li><strong>Violência psicológica:</strong> Causa danos emocionais e diminuição da autoestima.</li>
                    <li><strong>Violência sexual:</strong> Constrangimento a participar de relação não desejada.</li>
                    <li><strong>Violência moral:</strong> Prática de calúnia, difamação ou injúria.</li>
                    <li><strong>Violência patrimonial:</strong> Retenção ou destruição de objetos e bens.</li>
                </ul>
            </div>

            <div class="conteudo-box">
                <h3>COMO IDENTIFICAR A VIOLÊNCIA?</h3>
                <p>Fique atenta a sinais físicos, emocionais e comportamentais que podem indicar violência doméstica:</p>
                <ul>
                    <li><strong>Sinais Físicos:</strong> Lesões inexplicáveis ou ferimentos recorrentes.</li>
                    <li><strong>Emocionais:</strong> Isolamento social, baixa autoestima e ansiedade.</li>
                    <li><strong>Controle:</strong> Monitoramento, intimidação e controle financeiro.</li>
                    <li><strong>Verbais:</strong> Agressões, chantagens e humilhações.</li>
                </ul>
                <p class="alerta-ajuda">Se você ou alguém que você conhece está passando por isso, busque ajuda imediatamente.</p>
            </div>
        </div>
    </main>

    <div data-include="components/footer.html"></div>
</body>
</html>