<header class="nav-bar-conteiner">
    <nav class="nav-bar">
        <div class="logo-box">
            <img src="../assets/img/icon/rosto.png" alt="Ícone S.O.S Mulher" class="logo-img">
            <p>S.O.S Mulher</p>
        </div>

        <div class="nav-links">
            <a href="../index.html">Início</a>
            <a href="sobre.html">Sobre</a>
            <a href="dicas.html">Dicas</a>
            <a href="locais-de-apoio.html">Locais de Apoio</a>
            <a href="relatos.html">Relatos</a>
            <a href="denuncia.html" class="destaque-texto">Denúncia</a>
        </div>
    </nav>
</header>