<header class="nav-bar-conteiner">
    <nav class="nav-bar">
        <div class="logo-box">
            <img src="assets/img/icon/rosto.png" alt="Ícone S.O.S Mulher" class="logo-img">
            <p>S.O.S Mulher</p>
        </div>

        <div class="nav-links">
            <a href="#">Inicio</a>
            <a href="#">Sobre</a>
            <a href="#">Dicas</a>
            <a href="#">Locais de Apoio</a>
            <a href="#">Relatos</a>
            <a class="destaque-texto" href="#">Denuncia</a>
        </div>
    </nav>
</header>
